<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>province</key>
		<string>全国</string>
		<key>id</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>1</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>北京</string>
		<key>region</key>
		<string>华北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>116.405</real>
		<key>y</key>
		<real>39.905</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>3</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>上海</string>
		<key>region</key>
		<string>华东地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>121.473</real>
		<key>y</key>
		<real>31.2317</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>5</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>天津</string>
		<key>region</key>
		<string>华北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>117.19</real>
		<key>y</key>
		<real>39.1256</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>7</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>重庆</string>
		<key>region</key>
		<string>西南地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>106.505</real>
		<key>y</key>
		<real>29.5332</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>9</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>安徽</string>
		<key>region</key>
		<string>华东地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>117.283</real>
		<key>y</key>
		<real>31.8612</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>27</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>福建</string>
		<key>region</key>
		<string>华东地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>119.306</real>
		<key>y</key>
		<real>26.0753</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>37</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>甘肃</string>
		<key>region</key>
		<string>西北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>103.824</real>
		<key>y</key>
		<real>36.058</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>52</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>广东</string>
		<key>region</key>
		<string>华南地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>113.281</real>
		<key>y</key>
		<real>23.1252</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>74</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>广西</string>
		<key>region</key>
		<string>华南地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>108.32</real>
		<key>y</key>
		<real>22.824</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>89</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>贵州</string>
		<key>region</key>
		<string>西南地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>106.713</real>
		<key>y</key>
		<real>26.5783</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>99</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>海南</string>
		<key>region</key>
		<string>华南地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>110.331</real>
		<key>y</key>
		<real>20.032</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>118</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>河北</string>
		<key>region</key>
		<string>华北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>117.202</real>
		<key>y</key>
		<real>39.1566</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>130</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>河南</string>
		<key>region</key>
		<string>华中地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>113.665</real>
		<key>y</key>
		<real>34.758</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>149</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>黑龙江</string>
		<key>region</key>
		<string>东北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>126.642</real>
		<key>y</key>
		<real>45.757</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>163</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>湖北</string>
		<key>region</key>
		<string>华中地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>114.299</real>
		<key>y</key>
		<real>30.5844</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>181</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>湖南</string>
		<key>region</key>
		<string>华中地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>112.982</real>
		<key>y</key>
		<real>28.1941</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>196</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>吉林</string>
		<key>region</key>
		<string>东北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>125.325</real>
		<key>y</key>
		<real>43.8868</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>206</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>江苏</string>
		<key>region</key>
		<string>华东地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>118.767</real>
		<key>y</key>
		<real>32.0415</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>220</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>江西</string>
		<key>region</key>
		<string>华中地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>115.892</real>
		<key>y</key>
		<real>28.6765</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>232</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>辽宁</string>
		<key>region</key>
		<string>东北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>123.429</real>
		<key>y</key>
		<real>41.7968</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>247</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>内蒙古</string>
		<key>region</key>
		<string>华北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>111.671</real>
		<key>y</key>
		<real>40.8183</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>260</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>宁夏</string>
		<key>region</key>
		<string>西北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>106.278</real>
		<key>y</key>
		<real>38.4664</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>266</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>青海</string>
		<key>region</key>
		<string>西北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>101.779</real>
		<key>y</key>
		<real>36.6232</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>275</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>山东</string>
		<key>region</key>
		<string>华东地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>117.001</real>
		<key>y</key>
		<real>36.6758</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>293</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>山西</string>
		<key>region</key>
		<string>华北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>112.549</real>
		<key>y</key>
		<real>37.857</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>305</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>陕西</string>
		<key>region</key>
		<string>西北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>108.948</real>
		<key>y</key>
		<real>34.2632</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>316</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>四川</string>
		<key>region</key>
		<string>西南地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>104.066</real>
		<key>y</key>
		<real>30.6595</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>338</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>西藏</string>
		<key>region</key>
		<string>西南地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>91.1322</real>
		<key>y</key>
		<real>29.6604</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>346</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>新疆</string>
		<key>region</key>
		<string>西北地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>87.6177</real>
		<key>y</key>
		<real>43.7928</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>362</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>云南</string>
		<key>region</key>
		<string>西南地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>102.712</real>
		<key>y</key>
		<real>25.0406</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>379</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>浙江</string>
		<key>region</key>
		<string>华东地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>120.154</real>
		<key>y</key>
		<real>30.2875</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>391</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>香港</string>
		<key>region</key>
		<string>台港澳地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>114.173</real>
		<key>y</key>
		<real>22.32</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>393</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>澳门</string>
		<key>region</key>
		<string>台港澳地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>113.549</real>
		<key>y</key>
		<real>22.199</real>
	</dict>
	<dict>
		<key>city</key>
		<string></string>
		<key>id</key>
		<integer>395</integer>
		<key>level</key>
		<integer>1</integer>
		<key>province</key>
		<string>台湾</string>
		<key>region</key>
		<string>台港澳地区</string>
		<key>seq</key>
		<integer>0</integer>
		<key>x</key>
		<real>121.509</real>
		<key>y</key>
		<real>25.0443</real>
	</dict>
</array>
</plist>
